<html><head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <style>
        input[type=text], select {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type=submit] {
            width: 30%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }
  </style>
</head>
<body>
<h2>Meal Details</h2><br />

<form method="POST" action="/orders/create">
    Meal Name: <br><input type="text" id="name" name="name"><br /><br />
    Meal Items: <br><input type="text" id="items" name="items"><br /><br />
    Meal Quantity: <br><input type="text" id="quantity" name="quantity"><br /><br />
    Meal Price: <br><input type="text" id="price" name="price"><br /><br />
    <input type="submit">
</form>

<h2><a href="/orders">View Meals List</a></h2>

</body></html>
